<%- include("includes/header"); %>

    <div class="container">

        <h3 class="txt-logo">Seja Bem Vindo!</h3>
        <div class="logo">
            <img src="/images/snapedit_1732481705193.jpeg" alt="Logo">
        </div>
    </div>

    </div>

    <%- include("includes/footer"); %>